.menu-classes-items {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 15px 9px;
    background-size: auto 25px;
    padding-left: 50px;
    font-size: small;
}

.grid-screen {
    margin-left: 3vw;
    margin-right: 3vw;
    justify-items: center;
}

@media (min-width: 1025px) {
    .grid-screen {
        margin-left: 23vw;
        margin-right: 3vw;
        justify-items: center;
    }
}

.drawer-is-active {
    overflow: hidden;
}

.mdl-card img {
    border: 0;
}

.mdl-card .mdl-card__media {
    background-color:rgba(0, 0, 0, 0);
    text-align: center;
}

.mdl-card h2 {
    text-align: center;
    margin: auto;
    font-size: larger;
}

.mdl-card h3 {
    justify-content: center;
}

.mdl-card button {
    border: 0;
    width: 100%;
}